<p id="notice"><%= notice %></p>

<p>
  <strong>Neighboorhood:</strong>
  <%= @trip.neighboorhood %>
</p>

<p>
  <strong>Nei neighboorhood:</strong>
  <%= @trip.nei_neighboorhood %>
</p>

<p>
  <strong>Tri trip:</strong>
  <%= @trip.tri_trip %>
</p>

<p>
  <strong>Trip hour:</strong>
  <%= @trip.trip_hour %>
</p>

<p>
  <strong>Trip price:</strong>
  <%= @trip.trip_price %>
</p>

<p>
  <strong>Trip accomplished:</strong>
  <%= @trip.trip_accomplished %>
</p>

<p>
  <strong>Trip capacity:</strong>
  <%= @trip.trip_capacity %>
</p>

<p>
  <strong>Trip luggage:</strong>
  <%= @trip.trip_luggage %>
</p>

<p>
  <strong>Trip pet:</strong>
  <%= @trip.trip_pet %>
</p>

<p>
  <strong>Trip smoker:</strong>
  <%= @trip.trip_smoker %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
